<div class="container forContainer" *ngFor="let request of allRequestDetials;index as i" style="margin-top: 5px;">
  <div class="row blue">
      <div class="col-sm-12 col-md-8 col-lg-8 forTitle">
          <span style="color: #1e88e5;margin-right: 5px;">Category:</span>{{request.request_category}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 forTitle" style="text-align: center;display: flex;">
          <span style="color: #1e88e5;margin-right: 5px;">Status:</span><span id="status"
              style="color: brown;">{{request.request_status}}</span><i class="fa fa-chevron-circle-down lg" (click)="onShowMoreClicked(i)" style="margin-left: 10px;margin-top: 2px;"></i>
          <!-- <span id="btn1" *ngIf="isAdmin" class="login_button" style="color: #1e88e5;margin-left: 8px;"   (click)="afterResolvedClicked(request.request_id,i)" > Resolve query</span> -->
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 forDescription">
          <span style="color: #1e88e5;margin-right: 5px;">Description:</span>{{request.request_description}}
      </div>
  </div>
  <div class="row" *ngIf="show && rowNumber===i">
      <div class="col-sm-12 col-md-12 col-lg-12 forDescription">
          <span style="color: #1e88e5;margin-right: 5px;">Issued by:</span><span>{{request.requested_by}}</span>
      </div>

  </div>
  <div class="row" *ngIf="show && rowNumber===i">
      <div class="col-sm-12 col-md-12 col-lg-12 forDescription">
          <span style="color: #1e88e5;margin-right: 5px;">Issued Date:</span><span>{{request.request_date | date: 'dd-MM-yyyy'}}</span>
      </div>

  </div>
  <div class="row" *ngIf="show && rowNumber===i">
      <div class="col-sm-12 col-md-12 col-lg-12 forDescription">
          <span style="color: #1e88e5;margin-right: 5px;">Request ID:</span><span>{{request.request_id}}</span>
      </div>

  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
<!-- Button trigger modal -->

  
