<div class="forTable">
  <table   class="table table-hover">
    <thead>
      <tr class="forRow">
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let one of allEmployees">
       
        <td class="forTd">{{one.email }}</td>
        <td  class="forTd"><button [disabled]="isResetPasswordClicked" class="nav-item login_button" style="margin-top: 0;margin-right: 0;" (click)="onResetPasswordClicked(one.email)">Reset password</button></td>
        </tr>
    </tbody>
    </table>
    <app-spinner *ngIf="loading"></app-spinner>
</div>