<div *ngIf="!isPasswordchanged">
  <div  id="exampleModalForSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
    
        <div class="modal-body">
          <form  [formGroup]="passwordForm">
  
            <div class="form-group ">
              <label for="message-text" class="col-form-label">New Password:</label>
              <div class="row">
                <div class="col-xs-10 col-sm-10" style="padding-right:0%">
                  <!-- [(ngModel)]="signUpPassword"  (ngModelChange)="onSignUpPasswordChanged()"-->
                    <input type="password" class="form-control" formControlName="signUpPassword" id="signUpPassword" name="signUpPassword">
                </div>
                <div  class="col-xs-10 col-sm-2 forShowpassDiv" (click)="onSignUpPasswordEyeIconClick()">
                    <div class="input-group-append">
                        <span *ngIf="issignUpPasswordToggled" class="input-group-text" id="basic-addon2"><i class="fa fa-eye fa-lg"></i></span>
                        <span *ngIf="!issignUpPasswordToggled" class="input-group-text" id="basic-addon2"><i class="fa fa-eye-slash fa-lg"></i></span>
                     
                      </div>
                </div>
              </div>
               <!-- <label id="SignUpPasswordMessage" *ngIf="isSignUpPasswordEmpty" for="message-text" class="col-form-label-confirm-password">{{SignPasswordMessage}}</label> -->
               <!-- <password-strength-meter [password]="signUpPassword"  [enableFeedback]="true" (strengthChange)="displayStrength($event)"></password-strength-meter> -->
               <label >Your password must be 6 or more characters long
                contain at least one uppercase letter,
                at least one lowercase letter,
                at least one number,
                at least one special character</label>
               <app-password-strength
               [passwordToCheck]="passwordForm.value.signUpPassword"
               (passwordStrength)="passwordValid($event)"
               ></app-password-strength>
            </div>
            <div class="form-group ">
              <label for="message-text" class="col-form-label">Confirm Password:</label>
              <div class="row">
                <div class="col-xs-10 col-sm-10" style="padding-right:0%">
                  <!-- [(ngModel)]="confirmPassword"  (ngModelChange)="onPasswordChanged()"-->
                    <input type="password"  formControlName="confirmPassword" name="confirmPassword" class="form-control" id="Confirmpassword">
                </div>
                <div  class="col-xs-10 col-sm-2 forShowpassDiv" (click)="onConfirmPassEyeIconClick()">
                    <div class="input-group-append">
                        <span *ngIf="isSignUpConfirmPassToggled" class="input-group-text" id="basic-addon2"><i class="fa fa-eye fa-lg"></i></span>
                        <span *ngIf="!isSignUpConfirmPassToggled" class="input-group-text" id="basic-addon2"><i class="fa fa-eye-slash fa-lg"></i></span>
                     
                      </div>
                </div>
              </div>
              <label id="confirmPasswordMessage" *ngIf="isConfirmPasswordMatched" for="message-text" class="col-form-label-confirm-password">{{confirmPasswordMessage}}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <span tooltip="Before clicking, ensure you have filled all the details." placement="top">
          <button type="button" class="btn btn-primary" (click)="onSubmitCliked()" [disabled]="!passwordIsValid">Submit</button></span>
          <app-spinner *ngIf="loading"></app-spinner>
          <div class="col-form-label forsignUpmessage" *ngIf="signUpLoadingMessage">{{message}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isPasswordchanged" style="display:flex;justify-content: center; color: green;"><h2>Password changed successfully</h2></div>

